* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #374151;
    --dark: #1f2937;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Display', 'SF Pro Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.6;
    color: var(--dark);
}

/* Navbar */
.navbar {
    background: none;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    height: 60px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
    padding-right: 15px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 2px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: auto;
}

.nav-logo {
    height: 70px;
}

.nav-title {
    font-size: 1.5rem;
    color: #445bd1;
}

.nav-login-button {
    padding: 8px 16px;
    background-color: #fdfeff;
    color: rgb(0, 0, 0);
    border: 1px solid #445bd1;
    border-radius: 4px;
    cursor: pointer;
}

.nav-signup-button {
    padding: 8px 16px;
    background-color: #445bd1;
    color: white;
    border: 1px solid #445bd1;
    border-radius: 4px;
    cursor: pointer;
}